body {
    padding-top: 5rem;
}

.hide {
    display: none;
}

.max-witdth-25vw {
    max-width: 25vw;
    /* overflow-x: hidden; */
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.create-date {
    text-align: center;
}

.word-break-all {
    word-break: break-all;
}